body{font-family: 'Poppins', sans-serif;}
.flexible-container{
          display: flex;
}
.colorful{
    color: #FB8E48;
}
.text1{width: 50%;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
}   
 .head1{
     
         font-size: 3em;
         line-height: 1.2em;
         color: #575757;
         
 }   
 .link-button{
     color: white;
     background-image: linear-gradient(orange,rgb(231, 76, 76));
     font-weight: 700;
     border-radius: 10px;
     padding: 10px 40px ;
     text-decoration: none;
 }
 .part2{text-align:center ;
     
 }
 .img-small{
     width: 40%;
 }
 .sec2{
     padding-top: 80px;
     background-image: url(7.png);
     background-repeat: no-repeat;
     background-size: cover;
 }
 #sec1{
     padding-bottom: 80px;
 }
.text1 h2{
    font-size: 32px;
    color: #575757;

}
.sec2 .text1{
    padding: 0 45px;
}
.recep{
    text-align: center;
}
.sec3{
    padding-top: 50px;

}
.recep h2{
    font-size: 32px;
    color: #575757;

}
.recepies-img{
    width: 250px;
}
.recipe-box{border-radius: 20px;

             margin-left: 40px;
             margin-right: 40px;
             padding: 40px;   
             width: 30%;
             box-shadow:10px 10px 40px grey ;
              
}
.recipe-list{
    padding: 70px;
}
.number-div{margin: 70px;
           text-align: center;
           width: 90%;
           box-shadow:10px 10px 40px grey ;
           border-radius: 20px;
           padding: 45px 20px;

}
.number{
    width: 30%;
    text-align: center;
    margin-left: 10px;
             margin-right: 10px;
    
}
    
    
    .finishing{color:#b1a8a8;
            text-align: center;
            background-color: rgb(15, 17, 31);
            padding: 75px 0px;}

    .number h3{
              font-size: 40px;
              font-weight: 900;
    }        




